.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
  }
  
  .centered-image {
    max-width: 300px;
    margin-bottom: 20px;
    justify-content: center;
  }
  
  .centered-title {
    text-align: center;
    font-size: 24px;
    color: #333;
  }